Repository goofyspoon/ApartmentFinder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, autoDeploy, android-build, unitTests

maven-build:
  stage: mavenbuild
  tags:
  - shell
  script:
  - cd Spring
  - mvn package –B

maven-test:
  stage: maventest
  tags:
  - shell
  script:
  - cd Spring
  - mvn test
  artifacts:
    paths:
    - Spring/target/*.jar

autoDeploy:
  stage: autodeploy
  tags:
  - shell
  script:
  - cd Spring
  - mvn package
  - sudo mv target/*.jar/target/web-demo.jar
  - sudo systemctl stop web-demo
  - sudo systemctl start web-demo

android-build:
  image: javiersantos/android-ci:latest
  stage: androidbuild
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod+x ./Android_test/gradlew
  tags:
  - FRONTEND
  script:
  - cd Android_test
  - ./gradlew assemble
  artifacts:
    paths:
    - Android_test/app/build/outputs/

unitTests:
  image: javiersantos/android-ci:latest
  stage: androidtest
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod+x ./Android_test/gradlew
  tags:
  - FRONTEND
  script:
  - cd  Android_test
  - ./gradlewtest

Marissa's Four Unit Tests Complete
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/registration/RegistrationActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/registration/RegistrationLogic.java
  Frontend/ApartmentFinder/app/src/main/res/layout/activity_registration.xml
  Frontend/ApartmentFinder/app/src/test/java/com/example/ApartmentFinder/RegistrationLogicUnitTests.java
Due: android-build, unitTests

Moved around files and confirmed roundtrip still works
  Frontend/ApartmentFinder/app/src/main/AndroidManifest.xml
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/MainActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/Volley/IServerRequest.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/Volley/IView.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/Volley/IVolleyListener.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/app/Apartment.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/Adapter.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomePageActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/registration/RegistrationActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/registration/ServerRequest.java
  Frontend/ApartmentFinder/app/src/test/java/com/example/ApartmentFinder/RegistrationLogicUnitTests.java
Due: android-build, unitTests

Received data from backend
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/app/Apartment.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/ServerCallback.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/net_utils/Const.java
Due: android-build, unitTests

onSuccess try/catch callback
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/ServerCallback.java
Due: android-build, unitTests

HomeActivity is displaying properly
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/ServerCallback.java
Due: android-build, unitTests

cleaned up code for HomeActivity
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/Adapter.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
Due: android-build, unitTests

It works!
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/app/Apartment.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/Adapter.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/registration/RegistrationLogic.java
  Frontend/ApartmentFinder/app/src/main/res/layout/activity_home_page.xml
Due: android-build, unitTests

Seach by rent xml
  Frontend/ApartmentFinder/app/src/main/res/layout/activity_home_page.xml
Due: android-build, unitTests

Filter button refreshes apartments
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
  Frontend/ApartmentFinder/app/src/main/res/layout/activity_home_page.xml
Due: android-build, unitTests

Search by budget works, layout is wonky:)
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
Due: android-build, unitTests

Fixed layout on search screen
  Frontend/ApartmentFinder/app/src/main/res/layout/activity_home_page.xml
Due: android-build, unitTests

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Gradle stuff! watch out!
  Frontend/ApartmentFinder/app/build.gradle
Due: android-build, unitTests

Fixed error with unitTests
  Frontend/ApartmentFinder/app/build.gradle
  Frontend/ApartmentFinder/app/src/test/java/com/example/ApartmentFinder/RegistrationLogicUnitTests.java
Due: android-build, unitTests

Needs to change this test
  Frontend/ApartmentFinder/app/src/test/java/com/example/ApartmentFinder/RegistrationLogicUnitTests.java
Due: android-build, unitTests

Fixed my Unit Tests
  Frontend/ApartmentFinder/app/src/test/java/com/example/ApartmentFinder/RegistrationLogicUnitTests.java
Due: android-build, unitTests

myriad changes and tests mostly for users
  Backend/Adrian/betterOne/src/main/java/myProject/TestBySingleId.java
  Backend/Adrian/betterOne/src/main/java/myProject/TestGetAll.java
  Backend/Adrian/betterOne/src/main/java/myProject/TestPost.java
  Backend/Adrian/betterOne/src/main/java/myProject/UserController.java
  Backend/Adrian/betterOne/src/main/java/myProject/UserCreationTest.java
  Backend/Adrian/betterOne/src/main/java/myProject/Users.java
  Backend/Adrian/betterOne/src/main/java/myProject/UsersDB.java
Due: maven-build, maven-test, autoDeploy

Unit tests
  Frontend/ApartmentFinder/app/src/test/java/com/example/ApartmentFinder/RegistrationLogicUnitTests.java
Due: android-build, unitTests

It works!
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeActivity.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
  Frontend/ApartmentFinder/app/src/main/res/layout/activity_home_page.xml
Due: android-build, unitTests

added a boolean for if a user is an admin
  Backend/Adrian/betterOne/src/main/java/myProject/ApartmentController.java
  Backend/Adrian/betterOne/src/main/java/myProject/ApartmentDB.java
  Backend/Adrian/betterOne/src/main/java/myProject/TestBySingleId.java
  Backend/Adrian/betterOne/src/main/java/myProject/TestGetAll.java
  Backend/Adrian/betterOne/src/main/java/myProject/TestPost.java
  Backend/Adrian/betterOne/src/main/java/myProject/Users.java
  Backend/Adrian/betterOne/src/main/java/myProject/UsersDB.java
Due: maven-build, maven-test, autoDeploy

getter
  Backend/Adrian/betterOne/src/main/java/myProject/Users.java
Due: maven-build, maven-test, autoDeploy

swagger stuff added
  Backend/Adrian/betterOne/pom.xml
  Backend/Adrian/betterOne/src/main/java/myProject/SwaggerConfig.java
Due: maven-build, maven-test, autoDeploy

reverted to before swagger
  Backend/Adrian/betterOne/src/main/java/myProject/TestBySingleId.java
  Backend/Adrian/betterOne/src/main/java/myProject/TestGetAll.java
  Backend/Adrian/betterOne/src/main/java/myProject/TestPost.java
  Backend/Adrian/betterOne/src/main/java/myProject/UserCreationTest.java
  Backend/Adrian/betterOne/src/main/java/myProject/UsersDB.java
Due: maven-build, maven-test, autoDeploy

reverted to before swagger
  Backend/Adrian/betterOne/src/main/java/myProject/ApartmentController.java
  Backend/Adrian/betterOne/src/main/java/myProject/ApartmentDB.java
Due: maven-build, maven-test, autoDeploy

New folder added to documents, with document that has API screenshots.
  Documents/Kent's Api Documents/Project Api - Kent Mark.docx
  Documents/Kent's Api Documents/~$oject Api - Kent Mark.docx
Due: none

Javadocs
  Documents/MarissaJavaDocs.html
  Frontend/ApartmentFinder/app/build.gradle
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/app/AppController.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/Adapter.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/home/HomeLogic.java
  Frontend/ApartmentFinder/app/src/main/java/com/example/ApartmentFinder/registration/RegistrationActivity.java
Due: android-build, unitTests

Adding Block Diagram
  Documents/CY_04_Block_Diagram.pdf
Due: none

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  autoDeploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  unitTests: any of: Frontend/**/*
